
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
}

.available-rooms-default {
  font-weight: lighter;
  margin: 20px;
}

h2 {
  font-weight: lighter;
}

.booking-title {
  margin: 10px 20px 10px 20px;
}

.title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url('../images/hotel-swimming-pool.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}
#loginForm, #search-rooms-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 350px;
  /* height: 300px; */
  margin-right: 100px;
  background-color: white;
  border-radius: 10px;
}

.align-center {
  text-align: center;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

input[type="date"] {
  font-weight: lighter;
  width: 100%;
  margin: auto;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box;
  cursor: pointer;
}

.submit-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  background-color: #2980b9;;
  color: white;
  margin: 20px 0px 5px 0px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #226490;
}

.input-field {
  font-weight: lighter;
  margin: 20px 0px 20px 0px;
  height: 25px;
  border: none;
  border-bottom: lightgray solid 2px;
}

/* Remove default focus outline for all elements */
:focus {
  outline: none;
}

/* Style for the bottom border when an element is focused */
:focus:not(textarea):not(select):not(input[type="file"]):not(input[type="radio"]):not(input[type="checkbox"]) {
  border: none; /* Remove any default border */
  border-bottom: 2px solid #0b6efd; /* Add a 2px solid blue bottom border */
}

.greeting-header {
  margin: 20px;
}

.login-main-content {
  display: flex;
  justify-content: center;
}

.main-content-photos {
  width: 100%;
  height: 230px;
}

.login-page-cards {
  width: 350px;
  margin: 35px;
}

.card-text {
  font-weight: lighter;
}

.login-error-message, .calendar-error-message {
  font-weight: lighter;
  text-align: center;
  color: red;
}

span {
  font-weight: lighter;
}

.booking-interface {
  margin-top: 10px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

.descriptor {
  margin: 5px 0 5px 0;
}

.total-spent {
  margin-left: 20px;
  font-size: 13px;
  font-weight: lighter;
}

.bookings-card {
  margin: 20px;
}

.current-bookings, .available-rooms {
  border: #226490 2px solid;
  border-radius: 5px;
}

.hidden {
  display: none !important;
}