
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
}

.available-rooms-default {
  font-weight: lighter;
  margin: 20px;
}

h2 {
  font-weight: lighter;
}

.booking-title {
  margin: 10px 20px 10px 20px;
}

.filter-title {
  margin: 0;
  margin-bottom: 10px;
}

.title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url('../images/hotel-swimming-pool.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}
#loginForm, #search-rooms-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 350px;
  /* height: 300px; */
  margin-right: 100px;
  background-color: white;
  border-radius: 10px;
}

.align-center {
  text-align: center;
  font-weight: lighter;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

input[type="date"] {
  font-weight: lighter;
  width: 100%;
  margin: auto;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box;
  cursor: pointer;
}

.submit-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  background-color: #2980b9;;
  color: white;
  margin: 20px 0px 5px 0px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #226490;
}

.input-field {
  font-weight: lighter;
  margin: 20px 0px 20px 0px;
  height: 25px;
  border: none;
  border-bottom: lightgray solid 2px;
}

/* Remove default focus outline for all elements */
/* :focus {
  outline: none;
} */

/* Style for the bottom border when an element is focused */
/* :focus:not(textarea):not(select):not(input[type="file"]):not(input[type="radio"]):not(input[type="checkbox"]) {
  border: none;
  border-bottom: 2px solid #0b6efd;
} */

.greeting-header {
  margin: 20px;
}

.login-main-content {
  display: flex;
  justify-content: space-evenly;
}

.main-content-photos {
  width: 100%;
  height: 230px;
}

.login-page-cards {
  width: 350px;
  margin: 35px;
}

.card-text {
  font-weight: lighter;
}

.login-error-message, .calendar-error-message, .available-rooms-error, .filter-rooms-error {
  font-weight: lighter;
  text-align: center;
  color: red;
}

span {
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: center;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-interface {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin: 50px 0px 50px 0px;
}

.descriptor {
  margin: 5px 0 5px 0;
}

.total-spent {
  margin-left: 20px;
  font-size: 13px;
  font-weight: lighter;
}

.bookings-card {
  margin: 20px;
}

.current-bookings-section, .available-rooms, .filters {
  border: #226490 2px solid;
  border-radius: 5px;
}

.current-bookings-section {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.available-rooms {
  max-height: 685px;
  overflow-x: hidden;
  overflow-y: auto;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.toggle-icon {
  cursor: pointer;
  display: inline;
}

.rotate {
  transform: rotate(180deg) !important;
}

.chevron {
  width: 25px;
  height: 20px;
  transition: transform .8s ease;
}
.current-bookings {
  display: none;
}

.reserve-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  background-color: #33b249;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.reserve-btn:hover {
  cursor: pointer;
  background-color: #278437;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: white;
  background-color:#2980b9;
  height: 100px;
  gap: 10px;
}

.socials-icon {
  width: 35px;
  filter: invert(95%) sepia(83%) saturate(0%) hue-rotate(164deg) brightness(105%) contrast(105%);
  margin: 5px;
  cursor: pointer;

}

.hidden {
  display: none !important;
}